html, body {
   margin: 0;
   padding: 0; 
   text-align: center; 
}

.header {
   margin: 30px 0 30px 0;
   color: rgb(22, 153, 125);
}

.input-task {
   margin: 30px auto 80px auto;
   padding: 10px 0 10px 0;
   
}

.incomplete-section {
   margin: 30px auto 40px auto;
   max-width: 400px;
   min-width: 60%;
}

#incomplete-list {   
   border: 1px black solid;
   border-radius: 5px;
   padding: 10px 0 10px 0;
}

.complete-section {
   margin: 30px auto 60px auto;
   max-width: 400px;
   min-width: 60%;
}

#complete-list {
   border: 1px black solid;
   border-radius: 5px;
   padding: 10px 0 10px 0;
}

.footer {
 
}
li {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;
   margin-right: 20px;
}

li div {
   align-self: center;
}
